body {
  /* background-image: url("./images/zzback.jpg"); */
  background: url("./images/zzback.jpg") no-repeat center fixed;
  background-size: cover;
  /* background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f8f8f6; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b7430;
  color: #cde4bf;
}

.navbar a {
  text-decoration: none;
  color: #e7ecff;
  padding: 5px;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 0;
  font-style: oblique;
  font-size: 35px;
  font-family: Times, Times New Roman, serif;
  line-height: 10px;
}

.homeBody h6 {
  font-size: 15px;
  padding: 0;
  margin-top: 0;
}

.homeBody a {
  justify-content: space-around;
  border-radius: 4px;
  background-color: #bee8ad;
  padding: 5px;
  color: black;
  font-size: 15px;
  font-style: normal;
  width: 30%;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #bee8ad;
  align-items: center;
  padding: 50px 20px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #bee8ad;
  align-items: center;
  padding: 50px 20px;
}

.allPlantsGallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px;
  color: white;
}

.galleryRow {
  flex: 0 0 30%;
  /* justify-content: space-around; */
  border: 1px solid #bee8ad;
  border-radius: 5px;
  background-color: #648c58;
  margin: 15px;
}

.galleryRow ul li {
  list-style: none;
  text-align: left;
}

.galleryRow a {
  color: #bee8ad;
}
.galleryRow img {
  /* width: 200px; */
  height: 250px;
  /* display: flex;
  align-self: center; */
  border-radius: 4px;
}

.updateButton a {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  border-radius: 4px;
  background-color: #bee8ad;
  padding: 5px;
  color: black;
  font-size: 12px;
  width: 30%;
}

.allPlantsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  margin-bottom: 0;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.userProfile {
  display: flex;
  justify-content: center;
  border: 1px solid #bee8ad;
  border-radius: 5px;
  background-color: #648c58;
  margin: 15px;
  width: 50%;
}

.userProfileLinks {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.weatherAndAlertsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.weatherBox {
  border: 1px solid #648c58;
  border-radius: 5px;
  background-color: #bee8ad;
  margin: 15px;
  padding: 15px;
}

.alertsBox {
  border: 1px solid #648c58;
  border-radius: 5px;
  background-color: #bee8ad;
  margin: 15px;
  padding: 15px;
}

.galleryPlantTitle {
  display: flex;
  justify-content: space-around;
  font-variant: small-caps;
  text-align: center;
  font-size: 25px;
}

.updateContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.updateForm {
  width: 50%;
  border: 1px solid #bee8ad;
  border-radius: 5px;
  background-color: #648c58;
  margin: 45px;
  padding: 15px;
  text-align: center;
}

.titleStyle {
  font-style: oblique;
  font-size: 35px;
  font-family: Times, Times New Roman, serif;
  text-align: center;
}
