body {
  background-image: url("./images/zzback.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f7f7f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b7430;
  color: #cde4bf;
}

.navbar a {
  text-decoration: none;
  color: #e7ecff;
  padding: 5px;
}

.homeButtons {
  display: flex;
  flex-direction: column;
  justify-content: space space-around;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #bbd9ad;
  align-items: center;
  padding: 50px 20px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #bbd9ad;
  align-items: center;
  padding: 50px 20px;
}

.allPlantsGallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px;
  color: white;
}

.galleryRow {
  flex: 0 0 30%;
  /* justify-content: space-around; */
  border: 1px solid #bbd9ad;
  border-radius: 5px;
  background-color: #648c58;
  margin: 15px;
}

.galleryRow ul li {
  list-style: none;
  text-align: left;
}

.galleryRow a {
  color: #bbd9ad;
}
.galleryRow img {
  width: 100px;
  height: 100px;
  display: flex;
  align-self: center;
  border-radius: 4px;
}

.updateButton a {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  border-radius: 4px;
  background-color: #bbd9ad;
  padding: 5px;
  color: black;
  font-size: 12px;
  width: 30%;
}

.allPlantsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.userProfile {
  display: flex;
  justify-content: center;
  border: 1px solid #bbd9ad;
  border-radius: 5px;
  background-color: #648c58;
  margin: 15px;
  width: 50%;
}
