.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b4593;
  color: #e7ecff;
}

.navbar a {
  text-decoration: none;
  color: #e7ecff;
  padding: 5px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
